    <form id="application" data-toggle="validator" action="" method="POST" enctype="multipart/form-data">
      <div class="form-group">
        <label>Full Name</label>
        <input type="Text" limit="128" name="fullName" class="form-control" placeholder="" value="{{app.fullName}}" required>
        <div class="help-block with-errors"></div>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Email</label>
        <input type="email" limit="128" name="email" class="form-control" id="exampleInputEmail1" value="{{app.email}}" placeholder="" required>
        <div class="help-block with-errors"></div>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" limit="64" name="password" class="form-control" id="password" placeholder="" data-minlength="8" data-error="Minimum 8 characters" required>
        <p class="help-block">We'll use this to let you edit your application and check its status.</p>
        <div class="help-block with-errors"></div>
      </div>
      <div class="form-group">
        <label>Name of University, College or High-School</label>
        <input type="text" limit="128" name="school" class="form-control" value="{{app.school}}" placeholder="" required>
        <div class="help-block with-errors"></div>
      </div>
      <div class="form-group">
        <label>Level of Study</label>
        <select name="levelOfStudy" class="form-control selectpicker" required>
          {{#select app.levelOfStudy}}
          <option value="Undergraduate">Undergraduate</option>
          <option value="Graduate">Graduate</option>
          <option value="High School">High School</option>
          <option value="Other">Other</option>
          {{/select}}
        </select>
        <div class="help-block with-errors"></div>
      </div>
      <div class="form-group">
        <label>Graduation Year</label>
        <select name="gradYear" class="form-control" class="selectpicker" required>
          {{#select app.gradYear}}
          <option value="2016">2016</option>
          <option value="2017">2017</option>
          <option value="2018">2018</option>
          <option value="2019">2019</option>
          <option value="2020">2020</option>
          {{/select}}
        </select>
        <div class="help-block with-errors"></div>
      </div>
      <div class="form-group" required>
        <label>Major</label>
        <input type="Text" limit="128" name="major" class="form-control" value="{{app.major}}" placeholder="" required>
        <p class="help-block">If you are applying from high-school, write N/A here</p>
        <div class="help-block with-errors"></div>
      </div>
      <hr/>
      <div class="form-group">
        <label for="teamCaptain">Team Captain's Email (optional)</label>
        <input type="email" limit="128" name="teamEmail" class="form-control check-optional" id="teamCaptain" value="{{app.teamEmail}}"placeholder="">
        <p class="help-block"> If you would like to apply as part of a team, please put in the email of your team captain. Make sure that everyone on the team uses the same team captain email on your team, including your team captain.</p>
      </div>
      <hr>
      <div class="checkbox">
        <label>
          <input type="checkbox" name='firstHackathon' {{#if app.firstHackathon }}checked="checked"{{/if}}> This is my first hackathon!
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" name='travelReimbursement' {{#if app.travelReimbursement }}checked="checked"{{/if}}> I will need travel reimbursement.
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" name='hardwareHack' {{#if app.hardwareHack }}checked="checked"{{/if}}> I am doing a hardware hack.
        </label>
      </div>
      <hr/>
      <div class="checkbox">
        <label>
          <input type="checkbox" name='vegetarian' {{#if app.vegetarian }}checked="checked"{{/if}}> Vegetarian
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" name='vegan' {{#if app.vegan }}checked="checked"{{/if}}> Vegan
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" name='gluten' {{#if app.gluten }}checked="checked"{{/if}}> Gluten-Free
        </label>
      </div>
      <div class="form-group">
        <label>Other dietary restrictions (optional)</label>
        <input type="Text" limit="128" name="otherDietaryRestrictions" value="{{app.otherDietaryRestrictions}}" class="form-control check-optional" placeholder="">
      </div>
      <hr/>
      <div class="form-group">
        <label>T-Shirt</label>
        <select name="shirt" class="form-control" class="selectpicker" required>
          {{#select app.shirt}}
          <option value="Men's - S">Men's - S</option>
          <option value="Men's - M">Men's - M</option>
          <option value="Men's - L">Men's - L</option>
          <option value="Men's - XL">Men's - XL</option>
          <option value="Women's - S">Women's - S</option>
          <option value="Women's - M">Women's - M</option>
          <option value="Women's - L">Women's - L</option>
          <option value="Women's - XL">Women's - XL</option>
          {{/select}}
        </select>
        <div class="help-block with-errors"></div>
      </div>
      <hr/>
      <p>The below fields are optional, but we recommend you fill out at least one so that 
      we can get a better understanding of your background</p>
      <div class="form-group">
        <label for="resumeFile">Resume in PDF format (optional)</label>
        <input type="file" name="resumeFile" accept="application/pdf">
      </div>
      <div class="form-group">
        <label>Personal Website (optional)</label>
        <input type="Text" limit="128" name="personalSite" class="form-control" value="{{app.personalSite}}" placeholder="htp://...">
      </div>
      <div class="form-group">
        <label>Github (optional)</label>
        <input type="Text" limit="128" name="github" class="form-control" value="{{app.github}}" placeholder="http://github.com/...">
      </div>
      <div class="form-group">
        <label>LinkedIn (optional)</label>
        <input type="Text" limit="128" name="linkedin" class="form-control" value="{{app.linkedin}}" placeholder="http://linkedin.com/in/...">
      </div>
      <div class="form-group">
        <label>ChallengePost (optional)</label>
        <input type="Text" limit="128" name="challengepost" class="form-control" value="{{app.challengepost}}" placeholder="http://challengepost.com/...">
      </div>
      <div class="form-group">
        <label for="additionalProfInfo"  class="control-label">Additional Details (optional)</label>
        <div>
          <textarea name="additionalProfInfo" rows="10" cols="70" limit="200" class="form-control" value="{{app.additionalProfInfo}}" placeholder=""></textarea>
        </div>
        <p class="help-block">You can optionally take this space to add any details or information about your experience or background</p>
      </div>
      <hr/>
      <div class="form-group">
        <label for="why"  class="control-label">Why do you want to attend Hack Western?</label>
        <div>
          <textarea class="form-control" id="why" name="whyAttend" rows="10" cols="70" limit="700" placeholder="" maxlength="700" required>{{app.whyAttend}}</textarea>
          <div class="help-block with-errors"></div>
        </div>
        <p class="help-block">Please keep this answer under 100 words. There is a hard limit of 700 characters.</p>
      </div>
      <div class="form-group">
        <label for="pride"  class="control-label">What is something you have built or put together that you are the most proud of? It doesn’t need to be a hack/coding-related. It can also be an event, initiative, or anything creative you can think of.</label>
        <div>
          <textarea class="form-control" id="pride" rows="10" name="mostProudWork" cols="70" limit="1300" placeholder="" maxlength="1300" required>{{app.mostProudWork}}</textarea>
          <div class="help-block with-errors"></div>
        </div>
        <p class="help-block">Please keep this answer under 150 words. There is a hard limit of 1300 characters.</p>
      </div>
      <hr>
      <button class="btn btn-primary" type="submit">Submit Application</button>
    </form>