  <h1>Applications</h1>
  <hr>
  <div class="well">
    <form class="form-inline form-filter">
      <input type="text" class="form-control" id="filterSubmitted" placeholder="Date Submitted">
      <input type="text" class="form-control" id="filterFullName" placeholder="Full Name">
      <input type="text" class="form-control" id="filterSchool" placeholder="School">
      <input type="text" class="form-control" id="filterLevel" placeholder="Level Of Study">
      <input type="text" class="form-control" id="filterMajor" placeholder="Major">
      <button type="submit" class="btn btn-default">Filter</button>
    </form>
  </div>
  <hr>
  <table class="table table-center">
    <thead>
      <tr>
        <th>Date Submitted</th>
        <th>Full Name</th>
        <th>School</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each apps}}
      <tr>
        <td>TODO</td>
        <td>{{this.fullName}}</td>
        <td>{{this.school}}</td>
        <td><a href="{{this.personalSite}}">Website</a></td>
        <td><a href="{{this.github}}">GitHub</a></td>
        <td><a href="/resumes/{{this.resumeFileName}}">Resume</a></td>
        <td><a class="btn btn-primary btn-block" href="/applications/1">View</a></td>
      </tr>
      {{/each}}
    </tbody>
  </table>